*{
	font-family: MV BOLI;
}
.navigation{
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 120px;
}
.logo{
	font-family: segoe print;
	margin-left: 100px;
}
.nav-links{
	margin-right: 100px;
}
.nav-links >a{
	text-decoration: none;
	color: black;
	margin: 10px;
	padding: 5px;
	transition: 0.7s;
}
.nav-links >a:hover{
	background-color: black;
	color: white;
}
.header{
	height:650px;
	background-image: url(tt/02.jpg);
}
.blackout{
	background-color: rgba(0,0,0,0.8);
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.header-content{
	color: white;
	text-align: center;

}
.header-content >a{
	color: none;
	text-decoration: none;
	background-color: green;
}